<br />
<br />
<!--
<form [formGroup] = "searchForm" (ngSubmit) = "sendData()" class="form-inline my-2 my-lg-0">
	  <div>
	    <input type="text" name = "name" id ="name" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" formControlName = "name" required>
	    <div *ngIf="!searchForm.controls.name.valid && searchForm.get('name').touched" class="errors">
	      Please add Name
      </div>  
      <input type="submit" value = "Search" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!searchForm.valid">  
	  </div>
</form>

<br />
-->

<!--form [formGroup] = "searchForm" (ngSubmit) = "sendData()" class="form-inline my-2 my-lg-0">
	  <div>
	    <input type="text" name = "name" id ="name" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" formControlName = "name" required>
	    <div *ngIf="!searchForm.controls.name.valid && searchForm.get('name').touched" class="alert alert-danger">
	      Please add Name
      </div>  
      <input type="submit" value = "Search" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!searchForm.valid">  
	  </div>
</form>
-->
<h2>
  List of products
</h2>

 <div class="container">
  <table class="table table-hover text-left">
    <tr>
      <th class="col-sm-3">Product Number</th>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Price</th>
      <th class="col-sm-3"></th>


      
    </tr>
    <tr *ngFor = "let key of productsKeys">
      <td class="col-sm-3">{{key}}</td>
      <td class="col-sm-3">{{products[key].name}}</td>
      <td class="col-sm-3">{{products[key].price}}</td>
      <td><button class="btn btn-primary" (click)="editProduct(key)">Edit</button></td>


    </tr>
    </table>
  </div>