

 <h2>
  List of products from firebase
</h2>

 <div class="container">
  <table class="table table-hover text-left">
    <tr>
      <th class="col-sm-3">Product Number</th>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Price</th>


      
    </tr>
    <tr *ngFor = "let product of products">
      <td class="col-sm-3">{{product.id}}</td>
      <td class="col-sm-3">{{product.name}}</td>
      <td class="col-sm-3">{{product.price}}</td>


    </tr>
    </table>
  </div>
